@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.aboutSection {
  background-image: url("/aboutBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
